.hasith-container-active,.ray-container-active,.evan-container-active,.ryan-container-active{
    color: white;
    cursor: pointer;
    flex:5;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
  overflow: hidden;
}

.hasith-container,.ray-container,.evan-container,.ryan-container{
    color: black;
    cursor: pointer;
    flex:1;
    
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.images-container{
    display: flex;
    width: 40vw;
    height: 20.83vw;
    justify-content: center;
    border-radius: 1.0417vw;
    gap: 1.0417vw;
    
}
.headshot{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover; /* This will make the image cover the entire div */
    background-position: center;
    filter: brightness(0.2);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 1.0417vw;
}
.headshot-active{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover; /* This will make the image cover the entire div */
    background-position: center;
    filter: brightness(1);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 2.604vw;
}
.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5.208vw;
    
}


.member-text{
    font-size: 1.15vw;
    color: whitesmoke;
   
    width: 50vw;
    line-height: 200%;
    padding-bottom: 5.208vw;
}
.member-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

  