

.navbar-container-0,.navbar-container-1,.navbar-container-2,.navbar-container-3{
    font-family: 'Inter', sans-serif;
    color:#6d4e20;
    font-weight: 500;
    font-size: 1.05vw;
    display: flex;
    flex-direction: row;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:50px;
    position:fixed;
    height:95px;
    top:0;
    left:0;
    right:0;
    transition: background-color ease-in-out 0.2s;
    z-index: 100;
}
.navbar-container-0
{background-color: #CCDED7;transition: background-color ease-in-out 0.2s;}
.navbar-container-1
{background-color: #b7d1c7;transition: background-color ease-in-out 0.2s;}
.navbar-container-2
{background-color: #97c0b0;transition: background-color ease-in-out 0.2s;}
.navbar-container-3
{background-color: #70af97;transition: background-color ease-in-out 0.2s;}
.logo-container{
    padding-top:5px;
    overflow: hidden;

}
    
.logo-img{
    width: 100%;
    height: 100%; 
    object-fit: cover;

}
.hamburger-container{

    flex:5;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right:70px;
}
.redirects-contianer{
    flex:18;
    gap:80px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right:70px;
    
}
.header-redirect {
    position: relative;
    display: inline-block;
    text-decoration: none;

    padding-right: 20px;
    padding-left: 20px;
    padding-top:5px;
    border-radius: 0px;
  }
  
  .header-redirect::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255); /* Change the color to your preference */
    transition: width 0.3s ease;
  }
  
  .header-redirect:hover::after {
    width: 100%;
  }
.header-redirect:hover{
    background-color: rgba(255, 255, 255, 0.24);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.header-redirect:active{
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 0;
}
  