.contact-us-container{
    padding-top:95px;
    background-color: #214857;
    height: 2500px;
}
.contact-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vw;
    padding-bottom:8vw;
    color: #CAFFB7;
    font-size: 4.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.contact-top-container{
    background-color: #6589A9;
    display: flex;
    padding-left:15vw;
    padding-top:4vw;
    padding-bottom:4vw;
}
.contact-top-contacts-container,.contact-top-socials-container{
    flex:1;
    display: flex;
    flex-direction: column;
}
.contact-top-socials-container{
    float: right;

}

.contacts-text,.socials-text{
    color: whitesmoke;
    font-size: 2vw;
    font-weight: 700;
}

/* -----------------module styles-------------------*/
.contact-module-container{
    padding-top:2vw;
}
.module-title{
    color: whitesmoke;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    font-size: 1.5vw;
    font-weight: 500;
}
.module-subtitle{
    color: whitesmoke;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    font-size: 1vw;
    font-weight: 700;
}
.module-link{
    color: #CAFFB7;
    font-size: 1.2vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    font-weight: 400;
}
/*----------------------------------------------------------*/
.contact-inputs-container{
    padding-left: 4vw;
}
.contact-interface-container{
    padding-top: 12vw;
    padding-left: 8vw;
}
.contact-interface-title{
    color: #CAFFB7;
    font-size: 2.5vw;
    width: 22vw;
    font-weight: 700;
    
}
.contact-interface-subtitle{
    color: whitesmoke;
    font-size: 2vw;
    width:50vw;
    font-weight:600;
    padding-top: 5vw;
}
.contact-yourname,.contact-youremail,.contact-message{
    padding-top:2vw;
    padding-bottom:1vw;
    color: #B7FBFF;
    font-size: 1.5vw;
    font-weight: 600;
}
.send-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:8vw;
}