.register-page-container{
    background-color: #214857;

    padding-top:4.948vw;
}

.register-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
}

.register-title{
    color: #CAFFB7;
    font-size: 4.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width:40vw;
    text-align: center;
}

.register-description-conatiner{
    display: flex;
    
    padding-top:4.427vw;
    padding-left: 12vw;
}

.register-description{
    font-size: 1.75vw;
    
    color: whitesmoke;
    width: 76vw;
    line-height: 200%;
    padding-bottom: 5.21vw;
}

.first-last-container{
    display: flex;
    padding-left: 12vw;
    width: 76vw;
    justify-content: space-between;

}
.first-container, .last-container,.email-first-container,.phone-number-container{
    width: 23.8375vw;
    color:#CAFFB7;
    font-size: 1.75vw;
    font-weight: bold;
    
}
.email-container, .phone-container{
    padding-top: 4.167vw;
    padding-left: 12vw;
    
}
.star{
    color: #FFB7B7;
    font-weight: 500;
}
.first-input-container,.last-input-container{
    padding-top:1.56vw;
}
.email-first-container{
    width: 41.67vw;
    
}
.email-first-input-container{
    padding-top:1.56vw;
}

.confirm-container-false{
    
    transform: translateY(2.604vw);
    transition: all ease-in-out 0.5s;
    opacity: 0;
}
.confirm-container-true{
    
    transform: 0;
    opacity: 1;
    transition: all ease-in-out 0.5s;
}
.email-confirm-input-container{
    padding-top: 1.5625vw;
    width: 41.67vw;
}
.phone-input-container{
    width:30vw;
    padding-top: 1.5625vw;
}

.check-ui-container{
    height:1vw;
}
.check-tos-container{
    padding-left: 12vw;
    font-weight: medium;
}

.finish-registration-container{
    display: flex;
    justify-content: center;
    padding-top: 5vw
}
.error-list-container{
    padding-left:16vw;
    padding-top:3vw;
    color: #FFB7B7;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Inter;
}
.error-text{
    padding-top: 0.4167vw;
    font-size: 1vw;
}
.invalid-text-false{
    color: #FFB7B7;
    font-weight: 500;
    font-size: 1vw;
    
}
.invalid-text-true{
    display: none;
}

.success{
    padding-top:5vw;
    display: flex;
    justify-content: center;
    color:#CAFFB7;
    font-weight: 400;
    font-size: 1.25vw;
}